.content{
    /* Це в нас ПІДНЯТТЯ назви та опису відносно кнопок */
    margin-bottom: 0.5em;
}

.anime_Name{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 36px;

    color: white;

    max-width: 40vw;

    text-transform: uppercase;
}

.anime_Description{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #B7B7B7;

    max-width: 40vw;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@900&display=swap');