.content {
	display: flex;
	flex-direction: column;
}

.poster_img,
.image_overlay {
	width: 253px;
	height: 353px;

	border-radius: 10px;
}

.poster_img {
	z-index: 997;
}

.image_overlay {
	margin-bottom: -353px;

	z-index: 998;

	display: flex;
	justify-content: center;
	align-items: center;
}
.play_circle_img {
	width: 36px;
	height: 36px;

	visibility: hidden;
}
.play_circle_img.active {
	visibility: visible;
}
.image_overlay.active {
	visibility: visible;

	background: radial-gradient(
		116.62% 65.3% at 50% 42.63%,
		rgba(162, 94, 123, 0.7) 0%,
		rgba(217, 217, 217, 0) 100%
	);
}
.hover_block {
	position: absolute;

	margin: -140px 0 0 180px;
	padding: 1em;

	z-index: 999;

	visibility: hidden;

	background-color: #2e303e;
	color: white;

	border-radius: 10px;

	max-width: 554px;

	display: flex;
	flex-direction: column;

	/* відстань між блоками в середині вспливаючого віконця */
	gap: 24px;
}
.hover_block.active {
	visibility: visible;
}
