.content {
    display: flex;
    justify-content: space-between;

    margin-top: 1.8em;
}  

.content a{
    color: #FFFFFF;
    text-decoration: none;
    font-family: 'Inter';
    font-style: normal;
    /* text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5); */
}

.NavLink_SiteName{
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
}

.NavLink_Search, .NavLink_PO{
    width: 32px;
    height: 32px;
}

.NavLinks{
    display: flex;
    align-items: center;
}

.NavLinks > a{
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;

    /* відсування іконок і елементів зправа на неадері */
    margin-left: 2em;
}

.blue{
    color: #0094FF;
}
.yellow{
    color: #FFF500;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');