.content {
    display: flex;
    justify-content: space-between;
    margin-top: 2em;
}  

.content a{
    color: #FFFFFF;
    text-decoration: none;
    font-family: 'Inter';
    font-style: normal;
}

.NavLink_SiteName{
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
}

.NavLinks > a{
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    margin-right: 4em;
}

.blue{
    color: #0094FF;
}
.yellow{
    color: #FFF500;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');