.content {
    display: flex;
    justify-content: space-between;

    margin-top: 1.8em;
}  

.nav_link_site_name, .genre_link, .news_link, .announcements_link, .chat_link, .nav_link_personal_cabinet{
    color: #FFFFFF;
    text-decoration: none;
    font-family: 'FD_Medium';
    /* text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5); */

    display: flex;
    align-items: center;
}

.nav_link_site_name{
    font-family: 'FD_Bold';
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
}

.nav_link_personal_cabinet{
    width: 32px;
    height: 32px;

    /* тіняха під значками */
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 1));
}

.nav_links_block{
    display: flex;
    align-items: center;
}

.nav_links_block > a{
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;

    /* відсування іконок і елементів зправа на неадері */
    margin-left: 2em;
}

.more_search_optional{
    margin-top: 1em;

    color: rgb(0, 0, 0);
}

.blue{
    color: #0094FF;
}
.yellow{
    color: #FFF500;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');