.content{
    height: 200px;
}

.gradient_line{
    background: linear-gradient(90deg, #FFE500 0.31%, #00C2FF 100%);

    height: 2px;
    width: 100vw;

    position: absolute;
    left: 0;

    margin: 0;
}

.blocks{
    display: flex;
    justify-content: space-between;
}

/* left block */
.blocks > .left_block{
    display: flex;
}

/* фоточка тянки */
.blocks > .left_block > .left_block{
    margin-right: -100px;
}

/* текст про підтримку ЗСУ */
.blocks > .left_block > .right_block > .top_block{
    font-size: 32px;
    font-family: "FD_Bold";

    width: 365px;

    color: #ffcd11;
}

/* контейнер написів до підтримки ЗСУ */
.blocks > .left_block > .right_block > .bottom_block{
    display: flex;
}

/* стиль кнопки на посилання для підтримки ЗСУ */
.blocks > .left_block > .right_block > .bottom_block > .left_block{
    font-size: 16px;
    font-family: "FD_Medium";
    text-decoration: none;

    color: white;

    margin-top: -6px;
}

.support_button_text{
    display: block;
    margin: -34px 0 0 16px;
}

/* контейнер каписів про підтримку ЗСУ */
.blocks > .left_block > .right_block{
    display: flex;
    flex-direction: column;

    justify-content: center;
    gap: 32px;

    margin-top: -12px;
}

.blocks > .left_block > .right_block > .bottom_block{
    display: flex;
    align-items: center;
    gap: 16px;

    margin-top: -16px;
}

/* опис до тексту підтримки ЗСУ */
.blocks > .left_block > .right_block > .bottom_block > .right_block{
    font-size: 13px;
    font-family: "FD_Medium";

    width: 248px;

    color: #8C8C8C;
}

/* central block */
/* .blocks > .center_block{
    color: #E1E1E1;

    font-size: 14px;
    font-family: "FD_Medium";

    width: 567px;
} */

/* right block */
.blocks > .right_block{
    display: flex;
    flex-direction: row;
    /* відступ палки від назви сайту */
    gap: 24px;

    align-items: center;

    margin-top: -4px;
}

.site_description{
    display: flex;
    flex-direction: row;
    /* відступ палки від опису сайту */
    gap: 24px;

    margin-top: -8px;

    opacity: 0;
    transition: opacity 1s;
}
.site_description.active{
    opacity: 1;
}

.text_block{
    display: flex;
    flex-direction: column;
}

.label{
    font-size: 18px;
    font-family: "FD_Bold";

    color: white;

    align-self: flex-end;

    /* опусшення опису відносно назви */
    margin-bottom: 8px;
}
.description{
    font-size: 14px;
    font-family: "FD_Medium";
    text-align: right;

    color: #A5A5A5;

    width: 448px;
}

.blocks > .right_block > .links_block{
    font-size: 32px;
    font-family: "FD_Bold";
}
  
.contacts{
    display: flex;
    gap: 30px;
}

.h_top{
    width: 1px;
    height: 108px;

    background-color: white;

    position: relative;
}