.content{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    gap: 2em;

    min-height: 95vh;
}

.convas_More_Recommendation{
    display: flex;

    /* положення переключателя рекомендацій */
    justify-content: flex-end;
}