@keyframes switch_animation_information_start{
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100vw);
    }
}
@keyframes switch_animation_information_end{
    from {
        transform: translateX(-100vw);
    }

    to {
        transform: translateX(0);
    }
}

/* Rec_Block */

.info_blocks{}

.info_blocks.switch_animation_start{
    animation-name: switch_animation_information_start;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.info_blocks.switch_animation_end{
    animation-name: switch_animation_information_end;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}